---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<p>I have been a graduate student instructor for in-person and online courses at UC Berkeley, teaching both undergraduates and graduate students.</p>

<p>PH 112: Global Health, A Multidisciplinary Examination</p>
<p>ENERES W174: Water and Sanitation Justice</p>
<p>PH C117: Introduction to Global Health Research</p>
<p>PH 252C: Intervention Trials</p>
<p>PH 235: Impact Evaluation for Health Professionals</p>

