---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<p>As a doctoral student at UC Berkeley, I served as a teaching assistant for the following in-person and online undergraduate and graduate courses:</p>

<p>PH 112: Global Health, A Multidisciplinary Examination</p>
<p>ENERES W174: Water and Sanitation Justice</p>
<p>PH C117: Introduction to Global Health Research</p>
<p>PH 252C: Intervention Trials</p>
<p>PH 235: Impact Evaluation for Health Professionals</p>

